


/* Light Theme */
.theme-light {
  --bg: #ffffff;
  --text: #000000;
  --card: #f8f9fa;
  --nav: #ffffff;
  --accent: #ffc107;
}

/* Dark Theme */
.theme-dark {
  --bg: #121212;
  --text: #ffffff;
  --card: #1f1f1f;
  --nav: #000000;
  --accent: #ffc107;
}

/* Global Styles */
body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-active {
  color: var(--accent);
}

.bg-var {
  background-color: var(--bg);
}
.text-var {
  color: var(--text);
}



.main-container{
    overflow-x: hidden;
}


